
#menu_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1300px;
    margin: auto;
}

#menu_box > table {
    width: 45%;
    min-width: 450px;
    border-collapse: collapse;
    margin: 30px 20px;
}

#menu_box > table > tbody {
    text-align: left;
}

#menu_box > table > tbody > tr {
    border-bottom: solid 1px rgb(54, 54, 54);
}

#menu_box > table > tbody * {
    padding: 5px;
    padding-top: 10px;
}

#menu_box > table > tbody th {
    font-weight: normal;
}

#menu_box > table > tbody td {
    width: 6em;
}

section#menu > p {
    text-align: center;
}

#menu_box > table:last-child {
    margin: 0 20px;
}

.service_card {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.service_card > div {
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.15);
    padding: 10px 15px;
    margin: 15px 10px;
    max-width: 500px;
}

.service_card > div > * {
    margin: 0;
}

.service_card > div > p {
    text-align: left;
    line-height: 1.6;
}

@media screen and (max-width: 450px) {
    #menu_box > table {
        width: 95%;
        min-width: 0;
        margin: 30px 5px;
    }
}